body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board{
  width: 30.4rem;
  height: 30.4rem;
  margin: auto;
  border: 1px solid blueviolet;
  display: flex;
  flex-wrap: wrap;
  
}

.square{
  width: 10rem;
  height: 10rem;
  border: 1px solid blueviolet;

}

.square:hover{
  background: rgb(238, 238, 132);
  cursor: pointer;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
